{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2><br>
    <div class="container-fluid">
        <div class="row">
        {% for listing in listings %}
            {% if listing.isActive %}
                <div class="col-sm-3 mb-4" >
                    <div class="card" style="width:100%;">
                        <img src="{{ listing.imageUrl }}" class="card-img-top" alt="{{listing.title}}" style="height:200px; ">
                        <div class="card-body">
                            <h5 class="card-title">{{listing.title}}</h5>
                            <p class="card-text">{{ listing.description|slice:":30" }}{% if listing.description|length > 30 %}...{% endif %}</p>
                            <p class="card-text"><b>Current Bid: ${{ listing.currentPrice|floatformat:2 }}</b></p>
                            <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">View product</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% if user.is_authenticated %}
    {% block count %}
        {{ count }}
    {% endblock %}
{% endif %}